<div class="row animated fadeIn">
  <div class="col-md-7">
    <div class="card">
      <div class="card card-body">
        <h3 class="box-title m-b-0">Perfil del Usuario</h3>
        <p class="text-muted m-b-30 font-13"> Nombre del Usuario </p>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="save(f.value)">
              <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
             <!--    <input [ngModel]="user.name" type="text" class="form-control" placeholder="Nombre del Usuario" required> -->
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Correo del Usuario</label>
               <!--  <input [ngModel]="user.email" [disable]="user.google" type="email" class="form-control" id="exampleInputEmail1"
                  placeholder="Correo del Usuario" required> -->
              </div>
              <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Guardar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card">
      <div class="card card-body" align="center">
        <h3 class="box-title m-b-0">Fotografia del Usuario</h3>
        <p class="text-muted m-b-30 font-13"> Foto del Usuario </p>
        <img *ngIf="!temporaryImage" [src]="user.img | img" alt="" class="w150">
        <img *ngIf="temporaryImage" [src]="user.img | img" alt="" class="w150">
        <input (change)="chooseImage($event.target.files[0])" type="file">

        <br>
        <button (click)="changeImg()" [disabled]="!uploadImg" type="button" class="btn btn-success waves-effect waves-light m-r-10">

          <i class="fa fa-save"></i>
          Actualizar Foto
        </button>
      </div>
    </div>
  </div>
</div>