<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <table class="table table-hover" *ngIf="users.length > 0">
          <tbody>
            <tr *ngFor="let user of users" [routerLink]="['/users']" class="pointer">
              <td>Foto</td>
              <!-- <td><img [src]="user.img | img" alt="" class="img-50 img-circle"> </td> -->
              <td>Nombre</td>
              <!--  <td>{{user.name}}</td> -->
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="users.length === 0">
          No hay registros
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médicos</h4>
        <table class="table table-hover"  *ngIf="medics.length > 0">
          <tbody>
            <tr *ngFor="let medic of medics" [routerLink]="['/medic', medic._id]" class="pointer">
              <td>Foto</td>
              <!-- <td><img [src]="medic.img | img" alt="" class="img-50 img-circle"> </td> -->
              <td>Nombre</td>
              <!--  <td>{{medic.name}}</td> -->

            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="medics.length === 0">
          No hay registros
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover" *ngIf="hospitals.length > 0">
          <tbody>
            <tr *ngFor="let hospital of hospitals" [routerLink]="['/hospitals']" class="pointer">
              <td>Foto</td>
              <!-- <td><img [src]="hospital.img | img" alt="" class="img-50 img-circle"> </td> -->
              <td>Nombre</td>
              <!--  <td>{{hospital.name}}</td> -->
            </tr>
          </tbody>
        </table>
        <div class="alert alert-info" *ngIf="hospitals.length === 0">
          No hay registros
        </div>
      </div>
    </div>
  </div>

</div>