<div class="row">
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graphics.graphic1.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graphics.graphic1.labels" [chartData]="graphics.graphic1.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graphics.graphic2.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graphics.graphic2.labels" [chartData]="graphics.graphic2.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graphics.graphic3.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graphics.graphic3.labels" [chartData]="graphics.graphic3.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graphics.graphic4.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graphics.graphic4.labels" [chartData]="graphics.graphic4.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
</div>