<div class="row">
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graficos.grafico1.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graficos.grafico2.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graficos.grafico3.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <h4 class="card-title">{{ graficos.grafico4.leyenda }} </h4>
      <div class="card-body">       
        <app-donutchart [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data" chartType="doughnut"></app-donutchart> 
      </div>
    </div>
  </div>
</div>