<h3>{{legend}}</h3>
<div class="input-group">
 
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="changeValue(-5)">
        <i class="mdi mdi-minus"></i>
      </button>
    </span>
    <input type="text" class="form-control" name="percentage" [(ngModel)]="percentage">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" (click)="changeValue(+5)">
        <i class="mdi mdi-plus"></i>
      </button>
    </span>
  </div>
